<p id="notice"><%= notice %></p>

<h1>Top page</h1>

<ul>
<li><%= link_to 'Categories', categories_path %></li>
<li><%= link_to 'Sites', sites_path %></li>
<li><%= link_to 'Articles', articles_path %></li>
<li><%= link_to 'InHistories', in_histories_path %></li>
<li><%= link_to 'OutHistories', out_histories_path %></li>
<li><%= link_to 'DailyInCounts', daily_in_counts_path %></li>
<li><%= link_to 'DailyOutCounts', daily_out_counts_path %></li>
<li><%= link_to 'ArticleOutCounts', article_out_counts_path %></li>
</ul>


