<!DOCTYPE html>

<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="robots" content="noarchive">
<meta name="Description" content="どうも駄目っぽいアンテナサイト">
<title>だめぽアンテナ(クローン)</title>
<!--
<base href="http://domain.com/" target="_blank">
-->
<link rel="shortcut icon" href="http://sub.moudamepo.com/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://sub.moudamepo.com/css/style.css">
</head>
<body bgcolor="black" text="white">

<div id="header">

<div class="nav1">
<div class="container">
<div class="damepo">
<h1 style="font-size:10pt;margin:0px;"><a href="/" style="color:white;" target="_self">だめぽアンテナ(クローン)</a></h1>
</div>
<ul class="nl clearFix">
<li class="off"><a href="/" target="_self">総合</a></li>
<li class="off"><a href="/1" target="_self">NEWS</a></li>
<li class="off"><a href="/2" target="_self">VIP</a></li>
<li class="off"><a href="/3" target="_self">芸能</a></li>
<li class="off"><a href="/4" target="_self">スポーツ</a></li>
<li class="off"><a href="/5" target="_self">アニ漫</a></li>
<li class="off"><a href="/6" target="_self">ゲーム</a></li>
<li class="off"><a href="/7" target="_self">AA:SS</a></li>
<li class="off"><a href="/8" target="_self">生活</a></li>
<li class="off"><a href="/9" target="_self">翻訳</a></li>
<li class="off"><a href="/10" target="_self">その他</a></li>
</ul>

</div>
</div>

</div>

<div id="contents">
<!--ADD_CM-->
<br>

<div align="center">
<div id="headline">
<table class="hl">
<tr><td colspan="5" height="16" align="center" valign="top" bgcolor="#444444">
<span style="font-size:10pt;">最新記事情報 - <%= Article.order('pull_time desc').limit(1)[0].pull_time&.localtime&.strftime("%m/%d %H:%M") %></span>
</td></tr>
<!--FRESH_ENTRY-->

<% @articles.each do |article| %>
    <tr class="hl">
    <td class="hl_d"><%= article.post_time&.localtime.strftime("%m/%d %H:%M") %></td>
    <td class="hl_c">
        <img src="<%= article.site&.category&.icon_url %>" alt="">
    </td>
    <td class="hl_t">
        <a href="/out?s=<%= article.site&.id %>&a=<%= article.id %>&u=<%= article.url %>" class="hl"><%= article.name %></a>
    </td>
    <td class="hl_f">
        <img src="<%= article.site&.icon_url %>" alt="f">
    </td>
    <td class="hl_n">
        <a href="/out?s=<%= article.site&.id %>&u=<%= article.site&.url %>" class="hl"><%= article.site&.name %></a>
    </td>
    </tr>
<% end %>

</table>
</div>

</div>

<br>

<div style="width:950px;margin:0px auto;padding:5px 0px;background-color:#333333;border:1px solid #666666;font-size:10pt;">
[01/09] 現在、各種テスト表示中。IN/OUTの集計とランキング機能はまだ動作していません--; (by yn)
　<a href="/admin">管理画面</a>
</div>

<br>

<% i = 0 %>
<% @sites.each do |site| %>
<% articles = @site_articles.shift %>
<table align="center" class="bloginfo">
    <tr>
        <td height="30" colspan="3" class="summary">
            <div class="rank">
                <img src="<%= site.icon_url %>" alt="f" class="va"> 
                    <span style="font-size:12pt;"><%= i += 1 %> 位 (→)</span>
            </div>
            <div class="rank_name">
                <img src="<%= site.category&.icon_url %>" alt="<%= site.category&.name %>" class="va"> 
                    <a href="/out?s=<%= site.id %>&u=<%= site.url %>" class="blogname"> <%= site.name %></a> 
                    <a href="/old?s=<%= site.id %>" style="font-size:8pt;">[一覧]</a>
            </div>
            <div class="rank_inout"><%= site.week_in_count %> in / <%= site.week_out_count %> out</div>
            <div class="clear"></div>
        </td>
    </tr>
    <tr>
        <td rowspan="6" width="120">
            <a href="/out?s=<%= site.id %>&u=<%= site.url %>">
                <img title=" <%= site.name %>" src="<%= site.thumbnail_url %>" width="120" height="120">
            </a>
        </td>
    </tr>
<% articles.each do |article| %>
    <tr>
        <td class="date"><%= article.post_time&.localtime&.strftime("%m/%d %H:%M") %></td>
        <td class="title">
            <div class="entry">
                <div class="entry_bar">
                    <img src="http://moudamepo.com/img/bar.png" alt="bar" width="99%" height="24">
                </div>
                <div class="entry_text">
                    <a href="/out?s=<%= article.site&.id %>&a=<%= article.id %>&u=<%= article.url %>" class="title"><%= article.name %></a>
                </div>
            </div>
        </td>
    </tr>
<% end %>
</table>
<br/>
<% end %>

<br>

</div>

<div id="footer">

<div class="nav2">
<div class="container">
<div class="damepo">
●rz
</div>
<ul class="nl clearFix">
<!--
<li class="off"><a href="/" target="_self">1-25位</a></li>
<li class="off"><a href="/" target="_self">26-50位</a></li>
<li class="off"><a href="/" target="_self">51-75位</a></li>
<li class="off"><a href="/" target="_self">76-100位</a></li>
<li class="off"><a href="/" target="_self">101-125位</a></li>
<li class="off"><a href="/" target="_self">126-150位</a></li>
<li class="off"><a href="/" target="_self">151-175位</a></li>
<li class="off"><a href="/" target="_self">176-200位</a></li>
-->
<li class="off">&nbsp;</li>
<li class="off"><a href="/about" target="_self">About</a></li>
</ul>

</div>
</div>

</div>
</body>
</html>
