<p id="notice"><%= notice %></p>

<p>
  <strong>Rec time:</strong>
  <%= @in_history.rec_time %>
</p>

<p>
  <strong>Site:</strong>
  <%= @in_history.site_id %>
</p>

<p>
  <strong>Referer:</strong>
  <%= @in_history.referer %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @in_history.ip %>
</p>

<p>
  <strong>Chkd:</strong>
  <%= @in_history.chkd %>
</p>

<p>
  <strong>Request line:</strong>
  <%= @in_history.request_line %>
</p>

<%= link_to 'Edit', edit_in_history_path(@in_history) %> |
<%= link_to 'Back', in_histories_path %>
