<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.number_field :site_id %>
  </div>

  <div class="field">
    <%= form.label :post_time %>
    <%= form.datetime_select :post_time %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :pull_time %>
    <%= form.datetime_select :pull_time %>
  </div>

  <div class="field">
    <%= form.label :chkd %>
    <%= form.text_field :chkd %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
