<p id="notice"><%= notice %></p>

<h1>Top page</h1>
<h2>Tables</h2>
<ul>
<li><%= link_to 'Categories', admin_categories_path %></li>
<li><%= link_to 'Sites', admin_sites_path %></li>
<li><%= link_to 'Articles', admin_articles_path %></li>
<li><%= link_to 'DailyWeights', admin_daily_weights_path %></li>
<li><%= link_to 'DailyInCounts', admin_daily_in_counts_path %></li>
<li><%= link_to 'DailyOutCounts', admin_daily_out_counts_path %></li>
<li><%= link_to 'ArticleOutCounts', admin_article_out_counts_path %></li>
</ul>


