<%= form_with(model: daily_in_count, local: true) do |form| %>
  <% if daily_in_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_in_count.errors.count, "error") %> prohibited this daily_in_count from being saved:</h2>

      <ul>
      <% daily_in_count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :count_date %>
    <%= form.number_field :count_date %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.number_field :site_id %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
