<%= form_for [:admin, article_out_count] do |form| %>
  <% if article_out_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_out_count.errors.count, "error") %> prohibited this article_out_count from being saved:</h2>

      <ul>
      <% article_out_count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_time %>
    <%= form.datetime_select :last_time %>
  </div>

  <div class="field">
    <%= form.label :article_id %>
    <%= form.number_field :article_id %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
