<p id="notice"><%= notice %></p>

<h1>Article Out Counts</h1>

<p>
<%= link_to 'New Article Out Count', new_admin_article_out_count_path %>
</p>

<p>
<%= page_entries_info @article_out_counts %>
</p>

<div class="table-responsive"><table class="table table-striped table-sm table-bordered table-hover">
  <thead>
    <tr>
      <th>Last time</th>
      <th>Repo id</th>
      <th>Article</th>
      <th>Count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_out_counts.each do |article_out_count| %>
      <tr>
        <td><%= article_out_count.last_time&.localtime.strftime("%m/%d %H:%M") %></td>
        <td><%= article_out_count.repo_id %></td>
        <td><%= if article_out_count.article&.site&.icon_url.present? then image_tag article_out_count.article&.site&.icon_url else "N/A" end %>
        <%= article_out_count.article&.name %></td>
        <td><%= article_out_count.count.to_s(:delimited) %></td>
        <td><%= link_to 'Edit', edit_admin_article_out_count_path(article_out_count) %></td>
        <td><%= link_to 'Del', admin_article_out_count_path(article_out_count), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div><!-- table-responsive -->

<p>
<%= paginate @article_out_counts %>
</p>
