<p id="notice"><%= notice %></p>

<p>
  <strong>Last time:</strong>
  <%= @article_out_count.last_time %>
</p>

<p>
  <strong>Article:</strong>
  <%= @article_out_count.article_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @article_out_count.count %>
</p>

<%= link_to 'Edit', edit_article_out_count_path(@article_out_count) %> |
<%= link_to 'Back', article_out_counts_path %>
