<p id="notice"><%= notice %></p>

<h1>Out Histories</h1>

<p>
<%= link_to 'New Out History', new_out_history_path %>
</p>

<%= page_entries_info @out_histories %>

<table>
  <thead>
    <tr>
      <th>Rec time</th>
      <th>Site</th>
      <th>Article</th>
      <th>Ip</th>
      <th>Chkd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @out_histories.each do |out_history| %>
      <tr>
        <td><%= out_history.rec_time %></td>
        <td><%= out_history.site_id %></td>
        <td><%= out_history.article_id %></td>
        <td><%= out_history.ip %></td>
        <td><%= out_history.chkd %></td>
        <td><%= link_to 'Show', out_history %></td>
        <td><%= link_to 'Edit', edit_out_history_path(out_history) %></td>
        <td><%= link_to 'Destroy', out_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @out_histories %>
