<!DOCTYPE html>
<html>
  <head>
    <title>ANTENNA - Admin console</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

<style>

</style>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <h1><%= link_to "ANTENNA - Admin console", admin_root_path %></h1>
        <nav>
          <ul class="nav navbar-nav navbar-right">

<li><%= link_to 'Categories', admin_categories_path %></li>
<li><%= link_to 'Sites', admin_sites_path %></li>
<li><%= link_to 'Articles', admin_articles_path %></li>
<li><%= link_to 'DailyInCounts', admin_daily_in_counts_path %></li>
<li><%= link_to 'DailyOutCounts', admin_daily_out_counts_path %></li>
<li><%= link_to 'ArticleOutCounts', admin_article_out_counts_path %></li>
<li><%= link_to 'InHistories', admin_in_histories_path %></li>
<li><%= link_to 'OutHistories', admin_out_histories_path %></li>

          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="container">
      PROJECT <%= link_to 'yuknak/ANTENNA', 'https://github.com/yuknak/antenna', target: "_blank" %>
      </div>
    </footer>
  </body>
</html>