<p id="notice"><%= notice %></p>

<h1>Sites</h1>

<p>
<%= link_to 'New Site', new_admin_site_path %>
</p>

<%= search_form_for [:admin, @search] do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<p>
<%= page_entries_info @sites %>
</p>

<div class="table-responsive"><table class="table table-striped table-sm table-bordered table-hover">
 <thead>
    <tr>
      <th><%= sort_link(@search, :id, "ID") %></th>
      <th><%= sort_link(@search, :ex_id, "Ex ID") %></th>
      <th><%= sort_link(@search, :category_id, "Category") %></th>
      <th>Icon</th>
      <th>Thumbnail</th>
      <th>Name /  Feed url /Match in url</th>
      <th><%= sort_link(@search, :last_post_time, "Last time") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.id %></td>
        <td><%= site.ex_id %></td>
        <td><%= if site.category&.icon_url.present? then image_tag site.category&.icon_url else "N/A" end %>
        <br/><%= site.category&.name %></td>
        <td><%= if site.icon_url.present? then image_tag site.icon_url else "N/A" end %></td>
        <td><%= if site.thumbnail_url.present? then image_tag site.thumbnail_url, :size => "32x32" else "N/A" end %></td>
        <td><%= link_to site.name, site.url, target: "_blank" %>
        <br/><%= link_to site.feed_url, site.feed_url, target: "_blank" %>
        <br/><%= site.match_in_url %></td>
        <td><%= site.last_post_time&.localtime&.strftime("%m/%d %H:%M") %>
        <td><%= link_to 'Edit', edit_admin_site_path(site) %></td>
        <td><%= link_to 'Del', admin_site_path(site), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div><!-- table-responsive -->

<p>
<%= paginate @sites %>
</p>
